### Tool/MCP Usage
** IMPORTANT NOTE: YOU ARE FORBIDDEN TO USE ANY TOOL(INCLUDING MCP TOOL) IN FIRST TIME 
READ THE TOOL INSTRUCTION IN TOOLS MODULE THEN CACHE TOOLS USAGE INFORMATION FOR NEXT TIME USE WITH SAME COMMAND **